@font-face {
    font-family: 'Overpass';
    src: url(../fonts/Overpass-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url(../fonts/Overpass-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

:root{

    --White: hsl(0, 100%, 100%);
    --Grey: #1E252E;
    --card-color: #202730;
    --background-black: hsl(216, 12%, 8%);
    --orange-color:hsl(25, 97%, 53%);
    --num-color:#242C35;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    background-color: var(--background-black);
    font-family: 'Overpass';
    height: 100vh;
    font-weight: 400;
}

.container{
    margin: auto;
    align-content: center;
}

.card{
    background-color: var(--card-color);
    border-radius: 30px;
    max-height: 400px;
    max-width: 400px;
    color: #818791;
    padding: 30px;
}

.card > * {
    margin-bottom: 10px;
}

.card__icon{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--num-color);
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.card__icon img{
    max-width: 20px;
    max-height: 20px;
    margin: 0 auto;
}

h1{
    font-size: 1.5rem;
    padding-top: 40px;
}
.card-title{
    color: white;
}
p{
    font-size: 0.9375rem;
    line-height: 1.6;
}

.num{
    color: white;
    background-color: var(--num-color);
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    padding: 15px;
    border: none;
    flex: 1;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    padding-bottom: 15px;
}

.button-group.error{
    animation: shake 0.3s;
}

.button-group.error .num {
    border: 2px solid red;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button:hover{
    background-color: white;
    color: var(--background-black);
    cursor: pointer;
}

button.active {
    background-color: var(--orange-color);
    color: white;
}


.submit{
    letter-spacing: 0.1rem;
    font-weight: 700;
    display: block;
    margin: 10px auto;
    padding: 0;
    border: none;
    background-color: var(--orange-color);
    border-radius: 30px;
    padding-block: 15px;
    width: 100%;
}

@media screen and (width < 768px) {
    .card{
        margin-inline: auto;
        width: 90%;
        max-width: 400px;
    }

    .button-group{
        justify-content: center;
        gap: 10px;
    }
}